<style type="text/css">
        body{background: rgb(20, 20, 20);}
        html{
            scroll-behavior: smooth;
            font-family: 'Noto Sans KR', sans-serif;
        }
        body, h2, ol, li, ul{margin: 0; padding: 0;}
        nav{background: rgba(0, 0, 0, 0.5); height: 50px;}
        .awing{position: sticky; top: 0; z-index: 50;}
        nav .logo{height: 50px; line-height: 50px; width: 200px; float: left; text-align: center;}
        nav ul{
            width: 600px;
            height: 50px;
            float: right;
        }
        nav ul li{
            list-style-type: none; 
            width: 20%;
            height: 50px;
            text-align: center;
            line-height: 50px;
            float: left;
        }
        nav ul li a{
            text-decoration: none;
            display: block;
            color: white;
        }
        a{
            text-decoration: none;
            display: block;
            color: white;
        }
        a:hover{
            background: rgba(255, 255,255, 0.6);
            box-shadow: none;
            color: black;
            transition: all 0.5s;
        }
        a:not(:hover){
            text-decoration: none;
            display: block;
            color: white;
            transition: all 0.5s;
        }
        header{height: 800px;}
        section{
            width: 1500px;
            margin: auto;
            margin-top: 500px;
            background: white;
        }
        .row{
            width: 1500px;
            display: flex;
            padding: 0px 0px;
            margin: auto;
        }
        .col-1{width: 380px; margin:10px 10px;}
        .col-2{width: 580px; margin:10px 10px;}
        .col-3{width: 780px; margin:10px 10px;}
        .col-4{width: 1480px;height: 400px; margin:10px 10px;}
        .col-5{width: 1180px; margin:10px 10px;}
        .col-6{width: 1480px; margin:10px 10px;}
        footer{height: 280px; text-align: center; line-height: 200px; padding-top: 50px;margin-top: 250px;}
        .textwhite{color: white;}
        .textblack{color: black;}
        .textalligncenter{text-align: center;}
        h1{padding-top: 50px;font-size: 3em; text-align: center; margin-top: 300px; }
        h2{text-align: center;color: black;}
        h3{font-size: 3em; margin-top: 80px; text-align: center; color: white;}
        h4{font-size: 1em; margin-top: 100px; text-align: center; font-weight: 300; color: white;}
        .bgheader{background: url('../img/background.png'); background-size: cover; background-attachment: fixed;}
        .bgblack{background: rgba(0, 0, 0, 0.8);}
    </style>